/* Light Mode Styles */
:root {
    color: #333; /* Dark text color for light mode */
;
}

/* Dark Mode Styles */
body.dark-mode {
    color: #ddd; /* Light text color for dark mode */
}

p {
    font-size: smaller;
}


.dark-mode .output-text {
    color: #ddd;
    font-size: smaller;
    font-weight: 600;
    padding-top: 1%;
}

p.dark-mode{
    color: #ddd;
}

/* Main container styles */
.repl-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    padding:1%;
}

/* Main container Dark mode */
.repl-container.dark-mode {
    background-color: #1e1e1e;
}

/* Main content area - Two Column Layout */
.repl-content {
    display: flex;
    flex: 1;
    padding: 0;
    gap: 0;
}

/* Left column */
.repl-left-column {
    flex: 1;
    width: 50%;
    border-right: 1px solid #dee2e6;
}

/* Right column */
.repl-right-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-left: 1%;
}

/* Dark Mode Styles for Columns */
.repl-container.dark-mode .repl-left-column {
    background-color: #222; /* Darker background for left column */
    border-right: 1px solid #444; /* Darker border for left column */
}

.repl-container.dark-mode .repl-right-column {
    background-color: #222; /* Darker background for right column */
}

/* input container */
.repl-input-container {
    width: 100%;
    font-family: monospace;
    padding: 0.5rem;
}

.repl-input-container.dark-mode{
    background-color: #343436;
}

/* buttons general style light mode*/
.repl-button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    background-color: var(--accent-color, #007bffa8);
    color: white;
    cursor: pointer;
    transition: background-color 0.2s;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.repl-button:hover:not(:disabled) {
    background-color:   #2e90f9a8;
    color:#000;
}

.repl-button:disabled {
    background-color: var(--accent-color, #007bff);
    cursor: not-allowed;
}

/* buttons general style dark mode*/
.dark-mode .repl-button:hover:not(:disabled) {
    background-color:  #2e90f9a8;
}

@media (max-width: 768px) {
    .repl-content {
        flex-direction: column;
    }

    .repl-left-column,
    .repl-right-column {
        width: 100%;
        border: none;
    }
}