
@import '../../styles/variables.css';

.repl-output {
    background-color:var(--white-background);
    border: 1px solid #dee2e6;
    border-radius: 4px;
    height: 60vh !important;
    max-height: 60vh;
    overflow-y: auto;
    font-size: 0.1rem;
    padding:0.2rem;
    font-family: 'Courier New', Courier, monospace;
}

/* Scrollbar styling */
.repl-output::-webkit-scrollbar {
    width: 8px;
}

.repl-output::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.repl-output::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}

/* Dark mode styles */
.dark-mode .repl-output {
    background-color: var(--black-background);
    border:none;
    color: var(--text-light);
}

.dark-mode .repl-output::-webkit-scrollbar-track {
    background: #1e1e1e;
}

.dark-mode .repl-output::-webkit-scrollbar-thumb {
    background: #555;
}