.repl-input-form {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    gap: 8px;
   
}

.repl-input {
    flex: 1;
    padding: 0.5rem;
    border: 1px solid white; 
    border-radius: 4px;
    font-size: 0.1rem;
    padding:0.2rem;
    font-family: 'Courier New', Courier, monospace;
    
}
.repl-input.dark-mode {
    background-color: black;
    border: 1px solid black;
    color: var(--text-light);
}
.instruction {
    flex: 1;
    text-align: left;
    font-size: 0.1rem;
    font-family: 'Courier New', Courier, monospace;
}
.instruction.dark-mode p{
    color: #ddd; 
}


