.repl-input-form {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    gap: 8px;
   
}

.repl-input {
    flex: 1;
    padding: 0.5rem;
    border: 1px solid white; 
    border-radius: 4px;
    font-size: smaller;
    
}
.repl-input.dark-mode {
    background-color: black;
    border: 1px solid black; 
}
.instruction {
    flex: 1;
    font-size: smaller;
    text-align: left;
}
.instruction.dark-mode p{
    color: #ddd; 
}


