@import '../../styles/variables.css';

.repl-editor{
    display: flex;
    flex-direction: column;
    border: 1px solid var(--light-border);
    border-radius: 4px;
}
.repl-select{
    font-size: var(--font-size-medium);
    font-weight: 600;
    font-family: 'Courier New', Courier, monospace;
}

/* Editor controls */
.editor-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    width: 100%;
}

/* Monaco Editor */
.monaco-editor {
    width: 100% !important;
    height: 50vh !important;
    overflow: auto;
}

/* Share link styles */
.share-link-container {
    margin-top: 1rem;
    margin-bottom: 0;
    background-color: var(--light-background);
    border-radius: 4px;
    font-size: var(--font-size-medium);
    font-family: 'Courier New', Courier, monospace;
}
.dark-mode .share-link-input{
    background-color: var(--black-background);
    color: var(--text-light);
    border: none;
}

.share-link-input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid var(--light-border);
    border-radius: 4px;
}


/* Monaco Editor scrollbar */
.monaco-editor::-webkit-scrollbar {
    width: 8px;
}

.monaco-editor::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.monaco-editor::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}

/* Dark mode styles */
.dark-mode .repl-editor,
.dark-mode .share-link-container,
.dark-mode .bottom-controls {
    background-color: var(--dark-background);
    border-color: var(--dark-border);
    color: var(--text-light);
}

.dark-mode .monaco-editor::-webkit-scrollbar-track {
    background: #1e1e1e;
}

.dark-mode .monaco-editor::-webkit-scrollbar-thumb {
    background: #000;
}

.repl-button{
    margin-top: 1rem;
}
