@import '../../styles/variables.css';

/* Header container */

.column {
    float: left;
    width: 50%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
  }

.repl-title {
    color: var(--text-dark); 
    font-size: 12px;
    font-family: monospace;
}

.dark-mode .repl-title {
    color: var(--text-light); 
}

.repl-controls {
    display: flex;
    justify-content: flex-end;
}



/* Switch styles */
.theme-toggle-switch {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.switch-track {
    width: 56px; 
    height: 28px;  
    background-color: #3585d6;
    border-radius: 14px;
    position: relative;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 6px;
}

.switch-track.dark {
    background-color: #3585d6;
}

.switch-thumb {
    width: 22px;
    height: 22px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    left: 3px;
    transition: transform 0.3s;
}

.switch-track.dark .switch-thumb {
    transform: translateX(28px);
    background-color: #000;
}

.sun-icon {
    color: #fff;
    z-index: 1;
}

.moon-icon {
    color: #fff;
    z-index: 1;
}

.switch-track.dark .sun-icon,
.switch-track.dark .moon-icon {
    color: #000; 
}
